<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavoca - 404</title>
    <link rel="stylesheet" href="<%= BaseURL %>/assets/css/style.css">
    <style>
       
        *{
            font-family:Arial, Helvetica, sans-serif;
            margin: 20px;
        }
        h1{ 
            font-size: 2rem;
            color: rgba(33, 28, 49, 0.863);
        }
    </style>
</head>
<body>
    <center><h1>404 Not Found</h1></center>
</body>
</html>