<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        @font-face {
            font-family: opns ;
            src: url(assets/font/OpenSans-Regular.ttf);
        }
        *{
            font-family: opns;
            margin: 20px;
        }
        h1{ 
            font-size: 2rem;
            color: rgba(33, 28, 49, 0.863);
        }
        body{
            margin: 0;
            padding: 0;  
         }
    </style>
</head>
<body>
   <center>  <img src="assets/images/Lavoca.svg" width="70%" alt="" srcset=""></center>
   <center><a style=" text-decoration: none;color:#333" href="https://github.com/Rakhmadi/Lavoca/blob/master/readme.md" target="_blank">Read Documentation</a></center>
</body>
</html>